body
{
font-family:Century Gothic;
text-align:center;
color:#000000;
margin:auto;
}

p
{
padding:10px;
}

.header
{
font-size:13px;
text-align:left;
padding-top:50px;
padding-left:50px;
padding-right:700px;
padding-bottom:50px;
}

.intro
{
font-size:13px;
text-align:left;
padding-top:0px;
margin-left:80px;
padding-right:30px;
}

button
{
font-family:Century Gothic;
font-weight:bold;
text-transform:uppercase;
font-size:12px;
border:0;
border-color:#bdbdbd;
color:#FFFFFF;
background-color:#bdbdbd;
}

button:hover
{
background-color:#3D3D3D;
border-color:#3D3D3D;
cursor:pointer;
}

a
{
text-decoration:none;
text-transform:uppercase;
color:#bdbdbd;
}

table
{
border-collapse:collapse;
}

th
{
font-size:18px;
height:61px;
color:#FFFFFF;
text-transform:uppercase;
vertical-align:top;
background-color:#3D3D3D;
letter-spacing:1.5pt;
font-weight:bold;
}

.th-nobgcolor
{
background-color:white;
}

td
{
height:50px;
}

.left-align
{
text-align:left;
}

.right-align
{
text-align:right;
}

.odd
{
background-color:#EDB0B0;
}

.even
{
background-color:#FADADA;
}

.roundtwo-odd
{
background-color:#A6E1FF;
}

.roundtwo-even
{
background-color:#DBF3FF;
}

.firstRow
{
background-color:#FCEDED;
}

.column1
{
width:130px;
font-weight:bold;
color:#3D3D3D;
}

.column2
{
width:150px;
}

.column3
{
width:170px;
}

.column4
{
width:150px;
}

.draftee-team
{
background-color:white;
font-weight:bold;
font-size:11px;
text-transform:uppercase;
vertical-align:middle;
text-align:left;
color:#bdbdbd;
width:60px;
padding-left:25px;
}

.draftee-name
{
background-color:white;
font-weight:bold;
font-size:13px;
vertical-align:middle;
text-align:left;
color:#3D3D3D;
width:135px;
}

.stories
{
vertical-align:top;
width:150px;
background-color:white;
font-size:11px;
text-align:left;
}

.hide-thisyear, .hide-t-pick, .hide-nash, .hide-stats,
.hide-sambowie, .hide-cousy, .hide-first, .hide-nineties,
.hide-almostlast, .hide-shooters, .hide-roundtwo
{
display:none;
}

.stats
{
font-weight:bold;
font-size:13px;
vertical-align:middle;
color:#3D3D3D;
width:29px;
}

.legend-rd1
{
font-size:13px;
font-weight:bold;
background-color:#FADADA;
text-align:center;
}

.legend-rd2
{
font-size:13px;
font-weight:bold;
background-color:#DBF3FF;
text-align:center;
}


